<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="map">

	<select id="listMapDao" resultType="com.tosok.user.VO.MapVO" parameterType="java.util.HashMap">
		
		SELECT	*
		FROM	map_tb
		
	</select>

	<select id="listMapCnt" resultType="int" parameterType="java.util.HashMap">

    	SELECT	count(m_Seq)
    	FROM	map_tb

    </select>

   	<insert id="insertMapApi" parameterType="java.util.HashMap">

		INSERT INTO map_tb	( 
										m_Id, 
						             	m_cat_code,
						             	m_cat_Name,
						             	m_X,
						             	m_Y, 
						             	m_place_Name, 
						            	m_place_Address,
						            	m_place_Road,
						            	m_place_Url,
						            	m_place_Number
						            )

									SELECT	#{m_Id},
							              	#{m_cat_code},
							              	#{m_cat_Name},
							              	#{m_X},
							              	#{m_Y},
							              	#{m_place_Name},
							              	#{m_place_Address},
							              	#{m_place_Road},
							              	#{m_place_Url},
							              	#{m_place_Number}
									FROM	dual
									WHERE	NOT EXISTS
														(
															SELECT	*
															FROM	map_tb
															WHERE	m_Id = #{m_Id}
														);

	</insert>
	
	<update id="insertMapImg"  parameterType="java.util.HashMap">
	
	</update>

</mapper>