<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<!--  -->
	<update id="updateAdminQnAState" parameterType="java.util.HashMap">

		UPDATE	bbs_product_qna_tb
		SET		MEMBER_QNA_STATE	= 	#{MEMBER_QNA_STATE}
		WHERE	INTSEQ 				=	#{INTSEQ}

	</update>

	<!--  -->
	<update id="updateAdminQnAData" parameterType="java.util.HashMap">

		UPDATE	bbs_product_qna_tb
		SET		INTSEQ_RE_REF		=	1,
				MEMBER_QNA_RESULT	=	'DONE',
				ADMIN_QNA_CONTENT	=	#{ADMIN_QNA_CONTENT},
				ADMIN_QNA_DATE		=	NOW()
		WHERE	INTSEQ 				=	#{INTSEQ}

		<selectKey keyProperty="MEMBER_QNA_CAT,MEMBER_QNA_PHONE" resultType="com.tosok.user.VO.QnaVO" order="AFTER">

    		SELECT	MEMBER_QNA_CAT,
    				MEMBER_QNA_PHONE
    		FROM	bbs_product_qna_tb
			WHERE	INTSEQ 				=	#{INTSEQ}

		</selectKey>
	</update>

	<!--  -->
	<update id="updateUserQnAData" parameterType="java.util.HashMap">

		UPDATE	bbs_product_qna_tb
		SET		MEMBER_QNA_CONTENT	=	#{MEMBER_QNA_CONTENT}
		WHERE	INTSEQ 				=	#{INTSEQ}
		AND		MEMBER_SEQ			=	#{MEMBER_SEQ}

	</update>

	<!-- -->
	<select id="selectAdminQnAList" resultType="com.tosok.user.VO.QnaVO" parameterType="java.util.HashMap">
		<![CDATA[

			SELECT		*
			FROM		bbs_product_qna_tb
			ORDER	BY	INTSEQ	DESC
			LIMIT		#{pageStart}, 10

		]]>
	</select>

	<!-- -->
	<select id="selectAdminQnACount" resultType="int" parameterType="java.util.HashMap">
		<![CDATA[

	    	SELECT		COUNT(INTSEQ)
	    	FROM		bbs_product_qna_tb
		]]>
    </select>

	<!-- -->
	<select id="selectQnAList" resultType="com.tosok.user.VO.QnaVO" parameterType="java.util.HashMap">
		<![CDATA[

			SELECT		*
			FROM		bbs_product_qna_tb
			WHERE		MEMBER_SEQ			=	#{seq}
			AND			MEMBER_QNA_STATE	=	'Y'
			ORDER	BY	INTSEQ	DESC
			LIMIT		#{pageStart}, 10

		]]>
	</select>

	<!-- -->
	<select id="selectQnACount" resultType="int" parameterType="java.util.HashMap">
		<![CDATA[

	    	SELECT		COUNT(INTSEQ)
	    	FROM		bbs_product_qna_tb
			WHERE		MEMBER_QNA_STATE	=	'Y'
			AND			MEMBER_SEQ			=	#{MEMBER_SEQ}

		]]>
    </select>

	<!-- -->
	<select id="selectQnaProductInfo" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		<![CDATA[

			SELECT 			A.PRODUCT_SEQ,
							A.PRODUCT_STATE,
							A.PRODUCT_TITLE,
							B.PRODUCT_FILE_STATE,
							B.PRODUCT_FILE_TITLE,
							B.PRODUCT_FILE_NAME
			FROM			bbs_product_tb 			A
			LEFT JOIN		bbs_product_file_tb 	B
			ON				A.PRODUCT_SEQ 			=	B.PRODUCT_SEQ
			WHERE			A.PRODUCT_SEQ			=	#{PRODUCT_SEQ}
			AND				B.PRODUCT_FILE_TITLE	=	ANY	(
																SELECT	MIN(B.PRODUCT_FILE_TITLE) 
																FROM	bbs_product_file_tb B 
																WHERE	A.PRODUCT_SEQ 			=	B.PRODUCT_SEQ
																AND		B.PRODUCT_FILE_STATE 	=	'Y'
															)
			GROUP	BY		B.PRODUCT_SEQ

		]]>
	</select>

	<!-- INSERT -->
	<insert id="insertQnAProduct" parameterType="java.util.HashMap">

		INSERT	INTO	bbs_product_qna_tb
											(
												INTSEQ_RE_REF,
												MEMBER_SEQ,
												PRODUCT_SEQ,
												PRODUCT_NAME,
												MEMBER_ID,
												MEMBER_QNA_CAT,
												MEMBER_QNA_TITLE,
												MEMBER_QNA_CONTENT,
												MEMBER_QNA_PHONE,
												MEMBER_QNA_DATE
											)
								VALUES
											(
												#{INTSEQ_RE_REF},
												#{MEMBER_SEQ},
												#{PRODUCT_SEQ},
												#{PRODUCT_NAME},
												#{MEMBER_ID},
												#{MEMBER_QNA_CAT},
												#{MEMBER_QNA_TITLE},
												#{MEMBER_QNA_CONTENT},
												#{MEMBER_QNA_PHONE},
												NOW()
											)

	</insert>

</mapper>